h1 {
  color: blanchedalmond;
}

h2 {
  font-size: larger;
}

.jumbotron {
  background-image: url(https://wallpapercave.com/wp/wp4312249.png);
}

p {
  font-size: xx-large;
  text-align: center;
}

button {
  display: inline-block;
  background-color: #1d1c20;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: blanchedalmond;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #464446;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}

.card-body {
  background-color: #1d1c20;
  color: blanchedalmond;
  border-radius: 10px;
}


